
<h3> Future Reservations </h3> <br>

<table class="table table-striped">
 <thead>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Pick Up</th>
    <th>Drop Off</th>
    <th>Vehicle Type</th>
    <th>Passenger</th>
    <th>Driver</th>
    <th></th>
  </tr>
 </thead>
 <tbody>
 <% @reservations.each do |r|%>
 <% if r.date >= Time.now %>
  <tr>
    <td><%= r.date.strftime('%a %d %b %Y') %></td>
    <td><%= r.time %></td>
    <td><%= r.pick_up %></td>
    <td><%= r.drop_off %></td>
    <td><%= r.vehicle_type %></td>
    <td><%= r.user.name %></td>
   <% if r.driver_id == nil %>
   <td></td>
   <td><%= link_to "Assign", edit_choose_drivers_path(r) %></td>
   <% else %>
   <td><%= r.driver.name %></td>
   <td><%= link_to "Change Driver", edit_choose_drivers_path(r) %></td>
   <% end %>
  </tr>
  <% end  %>
 <% end %>
</tbody>
</table>

