<div class="row">
  <div class="offset-4 col-md-4">
  <h3 class='text-center'>All Reservations</h3><br>
  <p class='text-center'> To edit or cancel a reservation click on the date </p><br>
      <p class='text-center'>
        <% @reservations.each do |r| %>
        <% if r.date >= Time.now %>
    <li><%= link_to r.date.strftime('%a %d %b %Y'), user_reservation_path(current_user, r) %></li>
    <ul>
    <li>Time: <%= r.time %></li>
    <li>Vehicle Type: <%= r.vehicle_type %></li>
    <li>Pick Up: <%= r.pick_up %></li>
    <li>Drop Off: <%= r.drop_off %></li>
        </ul><br>
        <% else %>
    <li> <%= r.date.strftime('%a %d %b %Y') %></li>
    <ul>
    <li>Time: <%= r.time %></li>
    <li>Vehicle Type: <%= r.vehicle_type %></li>
    <li>Pick Up: <%= r.pick_up %></li>
    <li>Drop Off: <%= r.drop_off %></li>
        </ul><br>
        <% end %>
        <% end %>
      </p>
      <%= link_to  "Create a new reservation", new_user_reservation_path %>
  </div>
</div>


 