<h3 class='text-center'>Create a New Reservation:</h3> <br>
<div class="row">
  <div class="col-md-4 offset-4">
<%= form_for [@user, @user.reservations.build] do |f| %>
<%= render 'shared/reservation_errors' %>

  <%= f.label :date %>
  <%= f.date_field :date, class: 'mb-1 form-control' %>
  <br>
  <%= f.label :time %>
  <%= f.time_field :time, class: 'mb-1 form-control' %>
  <br>
  <br>
  <div class="font-italic">
  <div class='text-center'> 
  <p class="text-primary">Select a profile address or choose "Enter a New Address" if not listed </p>
  </div>
  </div>
  <%= f.label :pick_up %>
  <%= f.select :pick_up, @addresses, include_blank: true  %>
  <%= text_field_tag :pick_up_other, "",class: 'mb-1 form-control', placeholder: 'Enter a new address here ...' %>
  <br>
  <br>
  <%= f.label :drop_off %>
  <%= f.select :drop_off, @addresses, include_blank: true  %>
  <%= text_field_tag :drop_off_other, "",class: 'mb-1 form-control', placeholder: 'Enter a new address here ...' %>
  <br>
  <br>
  <%= f.label :vehicle_type %>
  <%= f.select :vehicle_type, ['Sedan', 'SUV', 'Van'], class: 'mb-1 form-control' %>
  <br>
  <br>

  <%= f.submit "Submit", class: "mt-2 btn btn-primary" %>
<% end %>
  </div>
  </div>


 









