<div class="row">
  <div class="offset-4 col-md-4">
  <h3 class='text-center'>Past Reservations</h3><br>
      <p class='text-center'>
        <% @reservations.each do |r| %>
    <ul>
    <li><%= r.date.strftime('%a %d %b %Y') %></li>
    <li>Time: <%= r.time %></li>
    <li>Vehicle Type: <%= r.vehicle_type %></li>
    <li>Pick Up: <%= r.pick_up %></li>
    <li>Drop Off: <%= r.drop_off %></li>
    <%= button_to "Delete", reservation_path(r),class: "mt-2 btn btn-primary", method: :delete %>
        </ul><br>
        <% end %>
      </p>
     <%= link_to "View All Reservations", user_reservations_path(@user) %> 
  </div>
</div>
