<div class="row">
  <div class="offset-4 col-md-4">
  <h3 class='text-center'>Past Reservations</h3><br>
  <p class='text-center'> To delete a reservation click on the date </p><br>
      <p class='text-center'>
        <% @reservations.each do |r| %>
    <li><%= link_to r.date.strftime('%a %d %b %Y'), user_reservation_path(current_user, r) %></li>
    <ul>
    <li>Time: <%= r.time %></li>
    <li>Vehicle Type: <%= r.vehicle_type %></li>
    <li>Pick Up: <%= r.pick_up %></li>
    <li>Drop Off: <%= r.drop_off %></li>
        </ul><br>
        <% end %>
      </p>
     <%= link_to "View All Reservations", user_reservations_path(@user) %> 
  </div>
</div>
