<div class="row">
  <div class="offset-4 col-md-4">
  <h3 class='text-center'>All Addresses</h3><br>
      <p class='text-center'>
        <% @addresses.each do |a| %>
        <li><%= link_to a.address_type, user_address_path(current_user, a) %></li>
        <ul>
            <li>Street Address 1: <%= a.street_address_1 %></li>
            <li>Street Address 2: <%= a.street_address_2 %></li>
            <li>City: <%= a.city %></li>
            <li>State: <%= a.state %></li>
            <li>Zipcode: <%= a.zipcode %></li>
        </ul><br>
        <% end %>
      </p>
      <%= link_to  "Add a new address", new_user_address_path %>
  </div>
</div>

